img{width:200px;
	height:100%;}
a{color:red;}
body{text-align: center;}

 .menu {
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .menu::after {
            content: ".";
            visibility: hidden;
            clear: both;
        }

        .menu li {
            width: 25%;
            float: left;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        @media (max-width: 380px) {
            .menu {
                font-size: 0.8em;
            }
        }

        a {
            color: white;
        }

        a.breakable-url {
            word-break: break-all;
        }

        a:hover {
            color: white;
            text-decoration: underline;
        }

        .menu a {
            display: block;
            text-decoration: none;
            color: white;
            background-color: #555555;
            padding: 10px 0;
        }

        .menu a:hover {
            background-color: white;
            color: black;
            text-shadow: 0 0 #fff;
        }


@media (min-width: 768px)
bootstrap.css:1592
.container {
    width: １００％;
}
